/* line 13, ../sass/screen.sass */
* {
  box-sizing: border-box; }

/* line 16, ../sass/screen.sass */
html, body {
  height: 100%; }

/* line 19, ../sass/screen.sass */
body {
  background-color: #2C4158;
  color: #F0F2F1;
  font-family: Lora, Georgia, serif;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

/* line 25, ../sass/screen.sass */
.board {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  height: 500px;
  width: 500px;
  opacity: 0; }

/* line 33, ../sass/screen.sass */
.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

/* line 37, ../sass/screen.sass */
.cell {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 4px;
  border-radius: 4px;
  -webkit-transition: all 200ms;
          transition: all 200ms;
  background-color: #4F6D8C; }
  @media (max-width: 300px) {
    /* line 37, ../sass/screen.sass */
    .cell {
      margin: 2px;
      border-radius: 2px; } }

/* line 47, ../sass/screen.sass */
.on {
  background-color: #F0F2F1; }

/* line 50, ../sass/screen.sass */
.message {
  max-width: 500px;
  margin: auto;
  font-size: 40px;
  text-align: center; }

/* line 56, ../sass/screen.sass */
.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
