$blue-dark: #2C4158
$blue-light: #4F6D8C
$gray-brown: #8C8E7D
$white: #F0F2F1
$brown: #402C24

$border-radius: 4px
$border-radius-xs: 2px

$font-family: Lora, Georgia, serif

*
	box-sizing: border-box

html, body
	height: 100%
	margin: 0

body
	display: flex
	flex-direction: column
	background-color: $blue-dark
	color: $white
	font-family: $font-family
	font-style: italic
	transition: background-color 200ms

h2
	font-size: 40px

a
	color: $gray-brown
	text-decoration: none
	&:hover
		color: $blue-light
		cursor: pointer

nav
	position: absolute
	top: 10px
	right: 10px
	a
		@extend a
	li
		opacity: 0.5
	.active
		opacity: 0.8
		> a
			color: $white
	&:hover li
		opacity: 1

.ul-unstyled
	margin: 0
	padding: 0
	> li
		list-style-type: none

.ul-right > li
	float: left

#sizeInput
	position: relative
	top: -2px
	margin-left: 4px

.board
	display: none
	flex-direction: column
	margin: auto
	opacity: 0

.row
	flex-grow: 1
	display: flex

.cell
	flex-grow: 1
	margin: $border-radius
	border-radius: $border-radius
	transition: all 200ms
	background-color: $blue-light
	@media (max-width: 300px)
		margin: $border-radius-xs
		border-radius: $border-radius-xs

.on
	background-color: $white

.message
	max-width: 500px
	margin: auto
	padding: 20px
	text-align: center
	position: relative
	a
		position: absolute
		bottom: 0
		left: 0
		right: 0

.flex
	display: flex

.torus
	background-color: $brown
	.cell
		background-color: lighten($brown,15%)
	.on
		background-color: $white
